.texto-inicio {
    background-color: #000;
    width: fit-content;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.texto-inicio h2 {
    text-align: left;
}

.texto-inicio h1 {
    font-size: 5rem;
    background-color: #000;
    text-align: left;
}

.imagem-inicio {
    background-color: #000;
    
}

#img-pc {
    padding: 0;
    height: 57rem;
    width: 62rem;
    margin-top: auto;
}

#inicio {
    display: flex;
    flex-direction: row;
}

#inicio div {
    width: 50%;
}

.linkedin {
background-color: #000;
display: flex;
margin-top: 30px;
}

#linkedin-btn {
    padding: 30px 180px;
    border-radius: 62px;
    font-weight: bold;
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}

#linkedin-btn:hover {
    transform: scale(1.1);
}
