.rodape {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto 5%;
    gap: 5px;
}

.texto-rodape {
    font-size: 1.8rem;
    font-weight: 600;

}


i {
    font-size: 60px;
    transition: all 300ms ease-in-out;
}

i:hover {
    color: rgba(0,0,0,0.8);
}