* {
    background-color: rgb(58, 98, 231);
    color: white;
    margin: 0;
    border: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

.main {  
    background-color: black;
    width: 100%;
    max-width: 95%;
    max-height: 90%;
    min-width: 0;
    min-height: 0;
    margin: 5px auto;
    font-size: 1.5rem;
    text-align: center;
    height: 100vh;

}

nav {
    padding-bottom: 40px;
    font-size: 1.5rem;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
}

#rodapé {
    padding: 50px;
    font-size: 1.5rem;
    text-align: center;
}

#img-topo {
    width: 50%;
}

#menu {
    width: 50%;
}

ul {
    list-style-type: none;
}